<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h1>GREETING WEB APP</h1>
        <form name="theForm" action="/greeting" method="POST">

            {{#if messages.warning}}
            <span class="errorMsg" id="errorMessage">
                {{messages.warning}}
            </span><br><br>
            {{/if}}

            <div class="textbox">
                <label for="name">Name</label>
                <input class="userName" type="text" id="name" name="name" placeholder="Enter your name" onkeypress="return (event.charCode > 64 && 
                event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
            </div>

            <div class=inputs>
                <input class="radio" type="radio" name="language" id="english" value="english" >
                <label class="radioName" for="english">English</label><br><br>
                <input class="radio" type="radio" name="language" id="afrikaans" value="afrikaans" >
                <label class="radioName" for="afrikaans">Afrikaans</label><br><br>
                <input class="radio" type="radio" name="language" id="isixhosa" value="isixhosa" >
                <label class="radioName" for="isixhosa">IsiXhosa</label>
            </div><br>

            <div class="buttons">
                <input class="greetBtn" type="submit" value="Greet Me">
                {{!-- <input class="resetBtn" type="submit" value="Reset"> --}}
                
            </div><br><br>

            <span class="greeting" id="greetID">{{name}}</span><br><br>

            <div class="counter">
                <label class="counterName">COUNTER:</label>
                <span id="counter">{{counter}}</span>
            </div>

            <a href="/greeted" class="list">Names Greeted</a>

        </form>

        <form action="/reset" method="POST">
        <button type="submit" class="resetBtn">Reset</button>
        </form>

      
    </div>
</body>

</html>