<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>GREETING WEB APP</h1>
        <section class="text">
            <div class="counter-section">
                <form action="/name" method="POST">
                    <div class="name-container">
                        <p>Name <input type="text" name="name" id="name" required /></p>
                    </div>
                    <div class="radio-container">
                        <input type="radio" name="language" value="English" required />
                        <label for="language">English</label>
                        <input type="radio" name="language" value="Afrikaans" required />
                        <label for="language">Afrikaans</label>
                        <input type="radio" name="language" value="IsiXhosa" required />
                        <label for="language">IsiXhosa</label>
                    </div>
                    <input type="submit" id="submit" value="Greet Me" />
                    <p class="counter">{{namesList}}</p>
                    <input type="button" id="reset" value="Reset Counter" />
                    <p class="greeting">{{greetText}}{{name}}</p><br><br>
                </form>
            </div>
            <div class="radio-section">
                <form action="/counter" method="post">
                </form>
            </div>
    </div>
    </section>
</body>

</html>